extends layout


block content
  h1(align='center')= title
  br
  br
  div
    table(id ='example', class='table table-striped table-bordered',width='100%' cellpadding="1", cellspacing="1")
      thead
        tr
          - for key in keyy
            th=key
      tbody
        tr
          - each result in results
            td!=result




//block content
//  h1(align='center')= title
//  p(align='center') Welcome to #{title}
//  br
//  br
//  div
//    table(width='100%' cellpadding="10", cellspacing="3", border="4" )
//      thead
//        tr
//          - for result in results
//            - for key in keyy
//              th=key
//      tbody
//        - each result in results
//        tr
//          - each key in keyy
//            td(align='center')=result[key]
